#Container{
    width: 1000px;
    height: 1500px;
    padding: 0px;
    margin: 10px auto;
    float: left;
}
#PersonalPhoto{
    height: 480px;
    width: 36%;
    float: left;
}
#PersonalInfo{
    height: 480px;
    width: 64%;
    float: left;
    background-color: lightblue;

}
#Biography{
    height: 50%;
    background-color: azure;
}
#Curriculum{
    height: 50%;
    width: 50%;
    float: left;
}
#Video{
    height: 50%;
    width: 50%;
    float: left;
    background-color: rgb(245, 229, 231);
}
#ICONResources{
    height: 200px;
    width: 1000px;
    float: left;
}
h1{
    font-family:  Comic Sans MS,arial,helvetica,sans-serif;
    margin-top: 0em;
    margin-bottom: 0em;
}
span{
    color: rgb(0, 47, 255);
}
ul.Education{
    font-family:  Comic Sans MS,"儷黑 Pro","標楷體",arial,helvetica,sans-serif;
    list-style-image: url("https://img.icons8.com/office/16/000000/school.png");
    margin-top: 0em;
    margin-bottom: 0em;
}
ul.Ability{
    font-family:  Comic Sans MS,arial,helvetica,sans-serif;
    margin-top: 0em;
    margin-bottom: 0em;
}
h3.Education{
    font-family:  Comic Sans MS,arial,helvetica,sans-serif;
    margin-top: 0em;
    margin-bottom: 0em;
}
a:link{
    text-decoration: none;
    color: deeppink;
}
a:visited{
    color: purple;
}
a:hover{
    color: chartreuse;
}
a:active{
    color: blue;
}
dfn.Bio{
    color: blue;
}
em.Bio{
    color: blue;
}
p.Bio{
    font-family: "儷黑 Pro", "標楷體";
}
p.VideoInfo{
    font-family: "儷黑 Pro", "標楷體";
}
em.VideoInfo{
    font-family: Comic Sans MS,"儷黑 Pro", "標楷體";
}
dfn.VideoInfo{
    font-family: Comic Sans MS,"儷黑 Pro", "標楷體";
}